{{ 'product-responsive.css' | asset_url | stylesheet_tag }}

{{ 'slick.css' | asset_url | stylesheet_tag }}

{{ 'slick-theme.css' | asset_url | stylesheet_tag }}
  <div class="b-wrap b-wrap_single-product">
    <div class="b-inner b-inner_single-product">

      <div class="clearfix" id="product-content" itemscope itemtype="http://schema.org/Product">
        <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
        <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

        {% comment %}The reason why we're removing the form tags when the product is sold out is because we add a 'notify me when product is available' contact form within, and nested forms don't work.{% endcomment %}
        {% if product.available %}
        <form action="/cart/add" method="post" enctype="multipart/form-data">
        {% endif %}

          {% comment %}Previous Next Products{% endcomment %}
          <div class="product--nav">
            <div class="product--nav__prev">
              {% if collection.previous_product %}
                {{ '&laquo;  Previous Product' | link_to: collection.previous_product }}
              {% endif %}
            </div>
            <div class="product--nav__next">
              {% if collection.next_product %}
                {{ 'Next Product &raquo; ' | link_to: collection.next_product }}
              {% endif %}
            </div>
          </div>

          {% comment %}HC Show only on smartphones{% endcomment %}
          <h1 itemprop="name" class="product--title__mobile">{{ product.title }} </h1>

          {% comment %}New Product Page Layout: Harold{% endcomment %}
          <div class="product--main">
            {% comment %}HC Image Gallery{% endcomment %}
            <div class="product--photos">
              <div id="product-photos">
                {% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}

                <div class="slick--slider"></div>

                {% if product.images.size > 1 %}
                <ul id="product-photo-thumbs" class="clearfix">
                  {% assign count = 0 %}
                  {% for image in product.images %}

                    {% for variant in product.variants %}
                      {% if variant.image.id == image.id %}
                        {% assign count = count | plus: 1 %}
                      {% endif %}
                    {% endfor %}

                    <li class="product-photo-thumb gallery" image-id="{{ image.id }}">
                      <a class="gallery product-photo-thumb-link" href="{{ image.src | img_url: 'original' }}" data-image-id="{{ image.id }}">
                        <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
              </div><!-- #product-photos -->

              <div class="tabs__full"></div>

              {% comment %}Figure out what this is{% endcomment %}
              {% if settings.prod_desc_placement == 'below' %}
                <div id="product-description" class="below">
                  <div id="full_description" class="rte" itemprop="description">
                    {% comment %}
                      {{ product.description }}
                    {% endcomment %}
                    {% include 'product-tabs' %}
                  </div>
                </div>

                {% comment %}This may not be the actual share module{% endcomment %}
                {% if settings.social_sharing_products %}
                  <hr>
                  <h4>{{ 'products.product.share_title' | t }}</h4>
                  {% include 'social-sharing' %}
                {% endif %}
              {% endif %}
            </div>

            {% comment %}HC Product Details{% endcomment %}
            <div class="product--details">
              <div class="product--details-wrapper">
                <h1 itemprop="name" class="product--title__main">{{ product.title }} </h1>

                <!-- Price -->
                <div class="product--prices" itemprop="offers" itemscope itemtype="http://schema.org/Offer" class="skbx-hide-xxx">
                  <meta itemprop="priceCurrency" content="{{ shop.currency }}">
                  {% if product.available %}
                  <link itemprop="availability" href="http://schema.org/InStock">
                  {% else %}
                  <link itemprop="availability" href="http://schema.org/OutOfStock">
                  {% endif %}

                  <div class="skbx-hide-x">
                    {% if product.compare_at_price > product.price %}
                    <span class="product-price on-sale" itemprop="price">{{ product.price | money }}</span>
                    {% else %}
                    <span class="product-price" itemprop="price">{{ product.price | money }}</span>
                    {% endif %}
                  </div>

                  <div class="skbx-show-x">
                    <div class="internationalPrice" id="skybox-product-price-{{product.id}}"></div>
                  </div>

                  <div id="backorder" class="hidden">
                    {% capture item %}<span id="selected-variant"></span>{% endcapture %}
                    <p>{{ 'products.product.back_order_message_html' | t: item: item }}</p>
                    <hr>
                  </div>

                  {% unless product.available %}
                  {% if settings.notify_me_form %}
                  <div id="sold-out">
                    {% include 'snippet-notify-me' %}
                  </div>
                  {% endif %}
                  {% endunless %}
                </div>

                <!-- Description -->
                <div class="product--description"></div>

                <!-- Reviews -->
                <div class="product--reviews">
                  <span class="rateit k_product_rating" id="{{ product.id }}"></span>

                  <!--
                    // KudoBuzz format
                    <div id="kudobuzz_product_reviews_widget" data-product-id="145969671" data-uid="449423r20303q264r2f4z2w23314y2v234x2"></div>

                    // ShopVenture template include
                  <a class="shopventure-widget"
                     href="https://www.shopventure.com/shops/tucker-and-bloom-reviews"
                     title="Tucker and Bloom Reviews on ShopVenture"
                     data-type="product_rating_badge"
                     data-id="{{ product.id }}"
                     data-url="{{ shop.url }}{{ product.url }}"
                     data-name="{{ product.title | escape }}"
                     data-image_url="{{ product.featured_image | product_img_url: 'large' }}"
                     data-price="{{ product.price }}"
                     data-price_currency="{{ shop.currency }}"></a>

                     // goes in individual product
                     <a class="shopventure-widget" href="https://www.shopventure.com/shops/tucker-and-bloom-reviews" title="Tucker and Bloom Reviews on ShopVenture" data-type="product_review" data-id="145969671" data-url="https://www.tucker-bloom.com/products/walden-backpack" data-name="WALDEN LAPTOP BACKPACK." data-image_url="//cdn.shopify.com/s/files/1/0217/1178/products/backpack-walden-backpack-with-an-optional-laptop-sleeve-and-a-lifetime-warranty-1_large.jpg?v=1493830251" data-price="18500" data-price_currency="USD"></a>
                   -->
                </div>

                <!-- Options -->
                <div class="product--options">
                  {% comment %}{{ product.description }}{% endcomment %}
                  {% if settings.show_vendor %}
                  {% assign product_vendor_handle = product.vendor | handle %}
                  {% if collections[product_vendor_handle].handle == product_vendor_handle %}
                  {% assign vendor_url = collections[product_vendor_handle].url %}
                  {% else %}
                  {% assign vendor_url = product.vendor | url_for_vendor %}
                  {% endif %}
                  <!--<h3 itemprop="brand" class="main-vendor">{{ product.vendor | link_to: vendor_url }}</h3>-->
                  {% endif %}

                  {% if settings.prod_desc_placement == 'above' %}
                  <div id="product-description" class="above">
                    <div id="full_description" class="rte" itemprop="description">
                      {{ product.description }}
                    </div>
                  </div>
                  {% endif %}

                  <!-- Skybox -->
                  {% include 'skybox-price-button-without-international' %}
                  <!-- /Skybox -->

                  {% assign hide_default_title = false %}
                  {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
                    {% assign hide_default_title = true %}
                  {% endif %}

                  <div class="{% if hide_default_title %}{% unless settings.show_qty and product.available %} hidden{% endunless %}{% endif %}">
                    <div class="select-wrappers{% if hide_default_title %} hidden{% endif %}">
                      <div class="product--options-title">Options </div>
                      <select id="product-select" name="id" class="hidden skybox-product-select">
                        {% for variant in product.variants %}
                        <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money }}</option>
                        {% endfor %}
                      </select>

                      <div id="infiniteoptions-container"></div>
                      {% if product.available and product.variants.size > 0 %}
                      {% for option in product.options %}
                      {% if option contains 'Color' or option contains 'Lining' or option contains 'Hide' or option contains 'Leather Shoulder Pad' or option contains 'Laptop Sleeve' %}{% include 'swatch' with option %}{% endif %}
                      <!-- {% if option contains 'Size' or option contains 'Leather Shoulder Pad' or option contains 'Laptop Sleeve' %}{% include 'swatch' with option %}{% endif %} -->
                      {% endfor %}
                      {% endif %}

                      {% if settings.show_qty %}
                      {% include 'snippet-quantity' %}
                      {% endif %}

                    </div>
                    {% if settings.show_qty %}
                    <div class="selector-wrapper">
                      <label for="quantity">{{ 'products.product.quantity' | t }}</label>
                      <input id="quantity" type="number" name="quantity" class="styled-input" value="1" min="1">
                    </div>
                    {% endif %}
                  </div>
                </div>

                <!-- Buy Button -->
                <button type="submit" name="add" id="add" class="btn product--submit">
                  <span id="addText">{{ 'products.product.add_to_cart' | t }}</span>
                </button>

                <!-- Info -->
                <div class="product--info">
                  <div>
                    <strong>Free domestic shipping</strong>
                    <em>on all orders</em>
                  </div>
                  <figure class="product--safe-secure pr-title__image">
                    <img alt="" src="{{'safe-secure.png' | asset_url}}">
                    <div class="pr-hint">
                       <span class="pr-title-hint">
                        Shop safely and securely with our price match guarantee. If you find a cheaper price we will refund 100% of the difference! <a target="_blank" href="/pages/about-us/#warranty">
                        Click Here </a> to see the details!
                      </span>
                      <!-- pr-title-hint -->
                    </div>
                    <!-- pr-hint -->
                  </figure>
                </div>

                <!-- Security & Share-->
                {% comment %}

                <div class="product--share">
                  <!-- Share -->
                  {% if settings.prod_desc_placement == 'above' or settings.prod_desc_placement == 'bottom' %}
                  {% if settings.social_sharing_products %}
                    {% include 'social-sharing' %}
                  {% endif %}
                  {% endif %}
                </div>

                {% endcomment %}

              </div>
            </div>
          </div>
        {% if product.available %}
        </form>
        {% endif %}

        {% if settings.prod_desc_placement == 'bottom' %}
        <div class="tabs__mobile">
          <div id="product-description">
            <div id="full_description" class="rte" itemprop="description">
              {% comment %}
              {{ product.description }}
              {% endcomment %}
              {% include 'product-tabs' %}
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Share -->
        {% if settings.prod_desc_placement == 'above' or settings.prod_desc_placement == 'bottom' %}
        {% if settings.social_sharing_products %}
        <div class="product--share__mobile">
          <h4>Share this product</h4>
          {% include 'social-sharing' %}
        </div>
        {% endif %}
        {% endif %}
      </div><!-- #product-content -->

      {% include 'limespot-tracker-product' %}
      {% include 'limespot-related-product' %}
      {% include 'limespot-recently-viewed' %}
    </div>
  <!-- /.b-inner b-inner_single-product -->
  </div>
  <!-- /.b-wrap b-wrap_single-product -->

  {% comment %}
  {% include 'snippet-related-products' %}
  {% endcomment %}

  {% include 'snippet-breadcrumbs' %}

  {{ 'option_selection.js' | shopify_asset_url | script_tag }}
  <script>

    function detectmob() {
     if( navigator.userAgent.match(/Android/i)
       || navigator.userAgent.match(/webOS/i)
       || navigator.userAgent.match(/iPhone/i)
       || navigator.userAgent.match(/iPad/i)
       || navigator.userAgent.match(/iPod/i)
       || navigator.userAgent.match(/BlackBerry/i)
       || navigator.userAgent.match(/Windows Phone/i)
       ){
       $('body').addClass('mobile').removeClass('desktop')
   }
   else {

     $('body').addClass('desktop').removeClass('mobile')
   }
  }

  detectmob();

  /* Custom Light Gallery */
  const product = {{ product | json }};
  const slickSlider = document.querySelector('.slick--slider');
  const allThumbs = Array.from(document.querySelectorAll('.product-photo-thumb'));

  // create a table that will hold all variants and their images
  const variants = product.variants.reduce((allVariants, variant) => {
    allVariants[variant.sku] = [];
    return allVariants;
  }, {});

  function findThumbs(key) {
    // console.log(item, key);
    return function(item) {
      if (item.querySelector('img').alt.includes(key)) {
        return item;
      }
    };
  }

  // create a div for each variant, containing the images for that variant
  for (key in variants) {
    // create a div
    const group = document.createElement('div');
    group.classList.add('slick--group');
    group.id = key;

    // get the thumbs that match this variant
    const thumbs = allThumbs.filter(findThumbs(key));
    thumbs.forEach((thumb, i) => {
      const itemWrap = document.createElement('div');
      // we only want to show the featured image
      // if (i > 0)
      //   link.style.display = 'none';

      const img = document.createElement('img');
      img.src = thumb.querySelector('a').href;

      itemWrap.appendChild(img);
      group.appendChild(itemWrap);
    });

    // append this to the light gallery div
    slickSlider.appendChild(group);
  }

  //
  // // instantiate multiple light galleries
  // const $lg = $(".gallery");
  //
  // $lg.lightGallery({
  //   zoom: true,
  //   thumbnail: true,
  //   toogleThumb: false,
  //   fullscreen: true
  // });

  $(function() {
    var selectCallback = function(variant, selector) {
      $price = $('.product-price'); // price div

      // hide the gallery that is showing
      const galleries = Array.from(document.querySelectorAll('.slick--group'));
      galleries.forEach(gallery => {
        if (gallery.style.visibility == 'visible');
        gallery.style.visibility = 'hidden';
      });
      // show this variants' gallery
      const group = document.querySelector('#' + variant.sku);
      group.style.visibility = 'visible';

      // Whether the variant is in stock or not, we can update the price and compare at price
      if ( variant.compare_at_price > variant.price ) {
        // Update price field
        $price.html('<span class="product-price on-sale">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") +'</span>'+'&nbsp;<span class="product-compare-price">'+Shopify.formatMoney(variant.compare_at_price, "{{ shop.money_format }}")+ '</span>');
        // updateAffirmAsLowAs( variant.price );
      } else {
        // Update price field
        // updateAffirmAsLowAs( variant.price );
        $price.html('<span class="product-price">'+ Shopify.formatMoney(variant.price, "{{ shop.money_format }}") + '</span>' );
      }
    };

    new Shopify.OptionSelectors('product-select', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });
  });

  // start slick slider
  $(document).ready(function(){
    $('.slick--group').slick({
      dots: true,
      arrows: true,
      accessibility: false,
      swipe: true
    });

    $('.k_product_rating').click(function(e){
      e.preventDefault();
        $('.Reviews').click();
         $('html, body').animate({
            scrollTop: $("#full_description").offset().top - 50
        }, 800);
    })
  });

  Shopify.Image.preload({{ product.images | json }}, 'grande');
  Shopify.Image.preload({{ product.images | json }}, '1024x1024');


  console.log({{ product.id }});
  </script>
<center>{% if product.metafields.kudobuzz.review_count > 0 %}<div itemscope itemtype="http://schema.org/Product" ><span itemprop="name"><b>{{product.title}}</b></span><div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">  <u>Rated:</u> <span itemprop="ratingValue">{{product.metafields.kudobuzz.review_rating}}</span> / 5  based on <span itemprop="reviewCount">{{product.metafields.kudobuzz.review_count}}</span> customer reviews </div></div>{% endif %}</center>
  {{ 'slick.min.js' | asset_url | script_tag }}
  {{ 'product-responsive.js' | asset_url | script_tag }}
